
*{
    margin: 0;
    padding: 0;
}
.contenedor{
    /* border: solid black 1px; */
    width:100%;
    height:100vh;
    box-sizing: border-box;
    background: rgb(235, 234, 234);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width:90%;
    height:90%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1{
    position: relative;
    /* background-color: rgb(0, 0, 0,.6); */
    /* box-shadow: 0px 12px 100px 10px black; */
    border-radius: 5px;
    width:300px;
    height: 300px;
}
.section1 h1{
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    padding: 5px 0;
    margin-bottom: 20px;
    font-size: 33px;
}
.reset{
    color:rgb(251, 251, 251);
    width:30px;
    height:30px;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    background-color: rgb(43, 43, 44,.9);
    position: absolute;
    bottom: -40px;
    left: 40%;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}
.reset i{
    font-size: 22px;
    color: greenyellow;
}
.reset:hover{
    background-color: rgb(17, 35, 115);
}
.barra{
    width:50%;
    height:5px;
    background-color:black;
    border-radius: 5px;
    position: absolute;
    top: 55px;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.vid{
    width:100%;
    height:60%;
    position: absolute;
    animation: barra linear 60s;
}
@keyframes barra{
0%{left:0;background-color: rgb(173, 255, 47);}
10%{background-color: rgb(224, 255, 47);}
20%{background-color: rgb(238, 255, 47);}
30%{background-color: rgb(255, 234, 47);}
40%{background-color: rgb(255, 213, 47);}
50%{background-color: rgb(255, 196, 47);}
60%{background-color: rgb(255, 175, 47);}
70%{background-color: rgb(255, 151, 47);}
80%{background-color: rgb(255, 120, 47);}
90%{background-color: rgb(255, 71, 47);}
100%{left:-100%;background-color: rgb(255, 47, 47);}
}
.tabla{
    /* border: solid red 1px; */
    margin: 5px auto;
    box-shadow: 0 0 2px 1px rgb(36, 36, 37);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(48, 51, 51);
}
button{
    width:50px;
    height:50px;
    font-size: 20px;
    border: none;
    margin: 4px;
    box-shadow: 0 0 2px  1px black;
    border-radius: 5px;
    background-color: rgb(171, 171, 244);
    font-weight: bold;
}
.section2{
    width:300px;
    height:300px;
    margin-left: 20px;
}
.section2 h2{
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(255, 255, 255);
    font-weight: bold;
}
/* COLOR PARA  MUESTRA */
.color{
    background-color: rgb(171, 3, 197);
}

img{
    width:80%
}

/* MEDIAS QUERY */
@media (max-width:576px){
    .main{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 100%;
        height: 500px;
    }
    button{
        width:55px;
        height:55px
    }
    .section2{
        width:90%;
        height: auto;
        margin-top: -100px;
        /* background-color: red; */
        margin-left: 5px;
    }
    .reset{
        bottom:-70px
    }
}